.file-details {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 570px;
  margin-top: 5rem;
  position: relative;
  width: 300px;
  overflow: scroll;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.submit-button {
  position: absolute;
  color: white;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  margin-top: 30%;
  margin-left: 15%;
  padding: 10px;
  border-radius: 5px;
  background-color: #4b5ac0;
}
