body {
  color: black;
  font-family: "Montserrat", sans-serif;
}
.background {
  min-height: 100vh;
  background: linear-gradient(to right top, #0f2027, #203a43, #2c5384);
  display: flex;
  align-items: center;
  justify-content: center;
}
.glass {
  background: white;
  margin-top: 390px;
  min-height: 30vh;
  width: 70%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 10px;
  box-shadow: 20px, 10px, black;
}
.main {
  position: absolute;
  top: -10%;
  padding-left: 50px;
}
.adhyan {
  font-size: 150px;
  padding-top: 100px;
  margin: 0;
  text-decoration: underline;
  color: wheat;
}
.subHeading {
  margin-top: 0;
  color: wheat;
}
.uploadBody {
  position: absolute;
  padding: 20px;
  top: 60%;
  left: 36%;
}
.uploadCsv {
  font-size: 30px;
}
.dataImage {
  position: absolute;
  width: 70%;
  height: 130%;
  top: 30%;
  left: 120%;
}
