body {
  background-color: #fff9e8;
}
.main {
  position: absolute;
  top: -10%;
  padding-left: 50px;
}
.adhyan {
  font-size: 110px;
  padding-top: 200px;
  margin-top: 0;
  text-decoration: underline;
  color: #eea8ff;
}
.subHeading {
  margin-top: -80px;
  color: #a048b5;
}
.description {
  width: 35%;
  margin: 0;
  color: #a048b5;
}
.getStarted {
  position: absolute;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #d41fff;
}
.dataImage {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 30%;
  left: 50%;
}
