body {
  background-color: black;
}
.main {
  position: absolute;
  top: -10%;
  padding-left: 50px;
}
.adhyan {
  font-size: 110px;
  padding-top: 200px;
  margin-top: 0;
  text-decoration: underline;
  color: wheat;
}
.subHeading {
  margin-top: -80px;
  color: wheat;
}
.description {
  width: 35%;
  margin: 0;
  color: wheat;
}
.getStarted {
  position: absolute;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #4b5ac0;
}
.dataImage {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 30%;
  left: 50%;
}
