.nav {
  position: absolute;
  width: 90%;
  display: flex;
  align-items: center;
  padding: 15px 50px 0;
  justify-content: space-between;
  animation: 1s fadein 0.5s forwards;
  color: aqua;
}

.brand {
  padding-top: 0;
  margin-top: -10px;
  text-decoration: none;
  display: flex;
  font-size: 20px;
  color: black;
}
.logo {
  width: 15%;
  padding-bottom: 0;
  display: inline-block;
}

.nav-items {
  display: flex;
  margin-left: -15px;
}

.item {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}
